@import 'src/styles/common.scss';

.container {
    position: relative;
    width: calc(100% - 112px);
    min-height: 100vh;

    padding: 4rem 56px 4rem 56px;

    background-color: $theme-color;

    
}

.image {
    height: 450px;
    position: absolute;
    top: 100px;
    left: 0;
}

@media only screen and (max-width: 1366px) {
    .image {
        height: 400px;
    }
}

@media only screen and (max-width: 1280px) {
    .image {
        height: 300px;
    }
}